h1 {
    font-weight: bold;
    text-decoration: underline;
}

.title
{
    /* margin: 60px; */
    margin-top: 10%;
    font-size: 1.5rem;
    width: 100%;
}

.loading 
{
    text-align: center;
}

@media screen and (max-width: 620px)
{
    .title
    {
        margin-top: 20%;
    }
}