
h1 {
  text-align: center;

}

.button 
{
  width: 200px;
  height: 53px;
  border-radius: 15px;
  background-color: rgb(46, 95, 128);
  color: white;
  font-size: 17px;
  font-weight: bolder;
  border: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.button:hover 
{
  background-color: rgb(46, 95, 128);
}

.image 
{
  height: 40px;
  width: 40px;
}

.buttonHeading 
{
  font-size: 1rem;
  text-decoration: none;
}

.title
{
  width: 100%;
  text-align: left;
  margin-left: 10px;
  font-size: 1.3vmax;
}

.accordion {
  margin: 20px 0px;
  width: 80%;
 
  
}

.accordion_item
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #F0F0F0;
  font-weight: bolder;
  font-size: 1rem;
  width: 90%;
}

.accordion_title:hover {
  background-color: #acc2c6;
}

.accordion_title,
.accordion-content {
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid black;

}

.accContainer
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.accordion_content {
  background-color: #ebeff0;
  /* padding: 15px; */
  width: 80%;
  padding: 3% 2%;
  font-size: medium;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.page 
{
width: 100%;
}

.main 
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  
}

@media screen and (max-width: 600px)
{
  .accordion
  {
    width: 95%;
  }
  .title{
   font-size: 1.7vmax;
  }
  .button{
    width: 150px;
  }
}

@media screen and (max-width: 400px)
{
  .accordion
  {
    width: 95%;
  }
  .button{
    width: 100px;
  }
  h1 
  {
    font-size: 2rem;
  }
}





