.background {
    background-color: rgb(46, 95, 128);
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    margin-top: -3px;
    border: 0px;
    border-radius: 0;
}

.links {
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
    font-size: large;
}

.links:hover {
    background-color: #79A2CB;
}

*/ .links {
    color: #FFFFFF;
    >>>>>>>b08ec36fd0a4ccae59e7d16f8d250334091933cb padding: 20px;
    text-decoration: none;
    font-size: large;
}

<<<<<<< HEAD .links:hover {

    color: rgb(234, 234, 234);
    text-decoration: underline;

}

=======.links:hover {

    color: rgb(234, 234, 234);
    text-decoration: underline;

}