.main{
    background-color: #4682A9;
    width: 100%;
    height: 90vh;
    display: flex;
    padding-top: 5%;
}

.textdiv{
    color: #FFFFFF;
    padding-left: 100px;
    width: 800px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin-top: -10%;
   font-size: 1.5rem;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.button{
    margin-top: 10px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #79A2CB;
    color: #FFFFFF;
}

.button:hover
{
    background-color: #1b689b;
}

.imagediv{
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10%;
    margin-top: 5%;
}

.absdiv{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    right: 22%;

}
.absimage{
    height: 100%;
    width: 100%;
    
}

.normaldiv{
    width: 300px;
    height: 300px;.main{
        background-color: #4682A9;
        width: 100%;
        height: 90vh;
        display: flex;
        padding-top: 5%;
    }
    
    .textdiv{
        color: #FFFFFF;
        padding-left: 100px;
        width: 800px;
        display: flex;
        flex-direction: column;
       justify-content: center;
       margin-top: -10%;
       font-size: 1.5rem;
    }
    
    .image{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
    
    .button{
        margin-top: 10px;
        height: 50px;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: #79A2CB;
        color: #FFFFFF;
    }
    
    .button:hover
    {
        background-color: #1b689b;
    }
    
    .imagediv{
        position: relative;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 10%;
        margin-top: 5%;
    }
    
    .absdiv{
        position: absolute;
        width: 300px;
        height: 300px;
        top: 0;
        right: 22%;
    
    }
    .absimage{
        height: 100%;
        width: 100%;
        
    }
    
    .normaldiv{
        width: 300px;
        height: 300px;
        margin-top: 250px;
        /* border: 10px solid; */
        border-radius: 15px;
    }
    margin-top: 250px;
    /* border: 10px solid; */
    border-radius: 15px;
}