.main {
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 30px 0px;
}

.link {
    text-decoration: none;
    color: black;
}


.heading {
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: none;
}


.cardDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* @media screen and (max-width: 480px) {
    .main {
        
    }
} */