.phy
{
    margin: 5rem;
    align-items: center;    

}

.cardDiv 
{
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}