@media only screen and (max-width: 480px) {
  .App {
    padding: 10px;
  }

  .App-logo {
    height: 25vmin;
  }

  .App-header {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .App {
    padding: 20px;
  }

  .App-logo {
    height: 30vmin;
  }

  .App-header {
    font-size: 20px;
  }
}

/* Styles that apply universally without media queries */
.App {
  text-align: center;
}


/* Animation style for App-logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Other non-responsive styles outside media queries */
/* ... */