 .heading {
     text-align: center;
     margin-bottom: 10px;
     margin-top: 25px;
 }

 .background {
     background-color: #4682A9;
     height: 250px;
     width: 100vw;
     color: #FFFFFF;
     bottom: 0;
 }

 .footContainer {
     width: 85vw;
     align-items: center;
     margin: auto;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 43rem;
 }


 .left {
     display: flex;
     flex-direction: row;
     max-width: 100vw;

 }

 .right {

     display: flex;
     flex-direction: row;
     max-width: 100vw;
     text-align: end;

 }

 .pgb {
     height: 2px;
     background-color: rgb(80, 77, 77);
     width: 85vw;
     margin-bottom: 0;

     margin-left: 6rem;
     border-radius: 20px;
 }

 .cpyrght {
     background-color: #FFFFFF;
     color: black;
     text-align: center;
     height: 4rem;
     margin-top: 4rem;

 }

 .cpytext {
     margin-top: 10px;
     padding: 2px;
     font-size: x-small;
     max-width: 80vw;
     margin: auto;
 }

 /* .heading {
    text-align: center;
<<<<<<< HEAD
    margin-bottom: 2vh;
    margin-top: 5vh;
=======
    margin-top: 10px;
    text-decoration: none;
>>>>>>> b08ec36fd0a4ccae59e7d16f8d250334091933cb
}

.background {
    background-color: #4682A9;
    height: 30vh;
    width: 100vw;
    color: #FFFFFF;
<<<<<<< HEAD
    bottom: 0;
=======
    bottom: 0;  
    border-radius: 0;
    padding-top: 30px;
>>>>>>> b08ec36fd0a4ccae59e7d16f8d250334091933cb
}

.footContainer {
    max-width: 85%;
    align-items: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
    grid-gap: 8vh;
}

@media only screen and (max-width: 768px) {
    .footContainer {
        max-width: 90vw;
        grid-gap: 4vh;
    }

    .pgb {
        margin-left: 4vw;
    }

    .cpytext {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 480px) {
    .footContainer {
        max-width: 95vw;
        grid-template-columns: 1fr;
        grid-gap: 2vh;
    }

    .pgb {
        margin-left: 3vw;
    }

    .cpyright {
        height: 7vh;
    }

    .cpytext {
        font-size: 0.7rem;
    }
}

.left,
.right {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

.right {
    text-align: end;
}

.pgb {
    height: 0.5vh;
    background-color: rgb(80, 77, 77);
    width: 75vw;
    margin-bottom: 0;
    margin-left: 5vw;
    border-radius: 20px;
}

.cpyrght {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
<<<<<<< HEAD
    height: 7vh;
    margin-top: 8vh;
=======
    height: 30px;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
>>>>>>> b08ec36fd0a4ccae59e7d16f8d250334091933cb
}

.cpytext {
    margin-top: 2vh;
    padding: 1vh;
    font-size: 0.8rem;
    max-width: 80vw;
    margin: auto;
} */